<html>
	<head>
		<title>quicksar &raquo; <g:layoutTitle/></title>
		<link rel="stylesheet" href="
			<g:createLinkTo dir='css' file='snazzy.css' />
		" />
		<g:layoutHead />
	</head>
	<body>
		<div id="header">
		<img src="
			<g:createLinkTo dir='images' file='logo.png'/>
		" alt="logo"/>
		</div>
		<g:layoutBody />
	</body>
</html>