<!doctype html>
<html>
	<head>
		<meta name="layout" content="bootstrap"/>
		<title>Grails Twitter Bootstrap Scaffolding</title>
	</head>

	<body>
		<div class="row-fluid">
			<aside id="application-status" class="span3">
				<div class="well sidebar-nav">
					<h5>Quicksar</h5>
					<ul>
						<li>QuickSAR development version: <g:meta name="app.version"/></li>
						<li>Controllers: ${grailsApplication.controllerClasses.size()}</li>
						<li>Domains: ${grailsApplication.domainClasses.size()}</li>
						<li>Services: ${grailsApplication.serviceClasses.size()}</li>
					</ul>
					<h5>Used Frameworks/Technolgies</h5>
					<ul>
						<li>Groovy/Grails	  - Code</li>
						<li>Twitter Bootstrap - CSS</li>
						<li>CDK				  - Molecule Handling</li>
						<li>D3				  - Visualisation - Heatmap</li>
						<li>ChemDoodle WC	  - Molecule I/O, Painting</li>
						<br/>
						<li>Possible future integrations</li>
						<li>Solr              - Searching</li>
						<li>MongoDB			  - Storage</li>
						<li>Flot			  - Visualisation</li>
						<li>Swiper, TouchSwipe, TouchCarousel - Molecule set browsing</li>
						<li>Mahout/Hadoop     - ML</li>
						
					</ul>
<%--					<h5>Installed Plugins</h5>--%>
<%--					<ul>--%>
<%--						<g:each var="plugin" in="${applicationContext.getBean('pluginManager').allPlugins}">--%>
<%--							<li>${plugin.name} - ${plugin.version}</li>--%>
<%--						</g:each>--%>
<%--					</ul>--%>
				</div>
			</aside>

			<section id="main" class="span9">

				<div class="hero-unit">
					<h1>QuickSAR</h1>
				
					<p> Your mobile home for molecular and structure/activity datasets </p>
				</div>
					
				<div class="row-fluid">
					
					<div class="span4">
						<h2>Try It</h2>
						<p>Use the following shortcut to setup a sample dataset</p>
						<pre> <a href="/quicksar/moleculeSet/createSampleMoleculeSet">Setup a sample dataset</a></pre>
						<p>or upload your molecule set from a SMILES text or CSV file</p>
						<pre> Upload your molecule set</pre>
						<p>Explore the created Molecule Set in the </p>
						<pre> <a href="/quicksar/moleculeSet/list">Molecule set controller</a></pre>
						<p> All the analysis sites have a save button - use it to save interactive copies of your datasets and share them with your friends - attach them to your email, share them with dropbox ...</p>
						<pre> Save an example heatmap</pre>

					</div>

					<div class="span4">
						<h2>Use It</h2>
						<p>You can use the Grails Scaffold to access the stored data.</p>
						<ul class="nav nav-list">
							<g:each var="c" in="${grailsApplication.controllerClasses.sort { it.fullName } }">
								<li><g:link controller="${c.logicalPropertyName}">${c.naturalName}</g:link></li>
							</g:each>
						</ul>
						<br/>
						<p>Analyse your data on your mobile device with your colleagues over lunch, that's what this app was designed for!</p>
						
					<%--						// EMBED QR CODE??--%>
						
					</div>
					
					<div class="span4">
						<h2>Extend It</h2>
						<p> Drag&Drop your molecules from your ChemDoodle notes directly to QuickSAR to analyse them online</p>
						<pre> ChemDoodle integration</pre>
						<p> Use the KNIME integration for further analysis of your Datasets and building QSARs</p>
						<pre> KNIME integration</pre>						
						<p> You can contribute to this project</p>
						<pre> Go to its <a href="https://github.com/robfletcher/twitter-bootstrap-scaffolding">GitHub</a> site.</pre>

					</div>

				</div>

			</section>
		</div>
		
	</body>
</html>
